@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Open+Sans:wght@400;600&display=swap&subset=latin');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@theme {
  --font-sans:
    'Open Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif:
    'Corben', ui-serif, system-ui, serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

@theme inline {
  --color-primary: #0a3254;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}
